* {
	font-family: 'ProxiReg';
	margin: 0;
	padding: 0;
}

.headerContainer {
	width: 100%;
	height: 115px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.headerMainContainer {
	width: 100%;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	position: fixed;
}

.headerLogo {
	width: 214px;
	height: 60px;
	background-image: url(./Images/MainLogo.svg);
	margin-left: 45px;
}

.headerInfo {
	width: 645px;
	height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.infoText {
	font-size: 15px;
	font-weight: 400;
	color: #495e4c;
}

.headerButton {
	width: 210px;
	height: 75px;
	border-radius: 20px;
	margin-right: 45px;
}

.buttonSecStyle {
	width: 210px;
	height: 75px;
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, 0.3);
}

.buttonFeedback {
	font-family: 'RuberBold';
	width: 190px;
	height: 55px;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 700;
	color: white;
	background-color: #5ccd6a;
	border: none;
	box-shadow: inset 0px 0px 5px 0.5px rgba(34, 111, 33, 0.36);
}
